*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #8ac4d0;
}

/* NavBar CSS */
nav{
  display: flex;
  background-color: #28527a;
  padding: 10px;
}

#heading{
  color: #8ac4d0;
  text-shadow: 0.5px 0.5px #fbeeac;
  font-size: 35px;
  font-family: 'Baloo Thambi 2', cursive;
}

.no-text-decor{
  text-decoration: none;
}

/* .fa-pen-alt{
  color: #fbeeac;
  text-shadow: 0.5px 0.5px #fbeeac;
} */

.fa-plus-square{
  color: #8ac4d0;
  text-decoration: none;
  position: absolute;
  right: 50px;
  top: 22px;
  text-shadow: 0.5px 0.5px #fbeeac;
}

/* Blog Boxes CSS */
.blog-box{
  margin: 25px;
  padding: 13px;
  /* border: 10px solid blue; */
  border-radius: 10px;
  background-color: #28527a;
  display: flex;
  /* color: #fbeeac; */
}

.left-side img{
  border-radius: 6px;
}

.right-side{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}

.blog-title{
  color: #f4d160;
  font-family: 'New Tegomin', serif;
}

.blog-desc{
  color: #fbeeac;
  font-family: 'New Tegomin', serif;
}

.box-link{
  text-decoration: none;
}

/* AddBlog Component's CSS */
.sub-heading{
  color: #28527a;
  text-shadow: 0.5px 0.5px #fbeeac;
  text-align: center;
  /* border: 2px solid #28527a; */
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.form label{
  color: #081f35;
  margin-bottom: 5px;
}

.form input{
  width: 750px;
  height: 25px;
  margin-left: 6px;
}

.form textarea{
  margin-left: 6px;
}

.form button{
  border: none;
  padding: 7px;
  background-color: #28527a;
  color: #8ac4d0;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-decoration: none;
}

.form button:hover{
  background-color: #153757;
  cursor: pointer;
}

/* ShowBlog Component's CSS */
.show-content{
  color: #102e4b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px ;
  padding-right: 20px ;
  text-align: justify;
  font-family: 'New Tegomin', serif;
  font: bolder;
}

#edit-del{
  /* display: inline-block; */
  margin-right: 10px;
  text-decoration: none;
  color: #28527a;
  position: absolute;
  right: 20px;
  top: 86px;
  font-size: 20px;
  margin-bottom: 10px;
  /* border: 2px red solid; */
}

#edit-del i{
  margin-right: 20px;
  color: #28527a;
  /* text-shadow: 0.5px 0.5px #fbeeac; */
  /* border: 2px blue solid; */
}

/* DeleteBlog Component's CSS */
.yes-no{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.yes-no button{
  margin: 10px;
  width: 50px;
  height: 25px;
  font-size: 15px;
  background-color: #28527a;
  color: #8ac4d0;
  border: none;
}

.yes-no button:hover{
  background-color: #153757;
  cursor: pointer;
}